//colors

:root {
    //--main: rgb(238, 106, 113);
    --main: #e93842;
    --main-dark: rgb(170, 5, 14);
    --secondary: rgb(249, 205, 208);
    --dark-grey: rgb(60, 60, 59);
    --font-main: rgb(87, 87, 86);
    --black: rgb(0, 0, 0);
    --white: rgb(255, 255, 255);
    --brownish-grey: rgb(112, 112, 112);
    --very-light-grey: rgb(221, 221, 221);
    --greyish-brown: rgb(74, 74, 74);
}