<div class="row query">
	<div class="col-lg-3">
		<select name="field" class="form-control">
			<option selected disabled value="">Field...</option>
			<option value="size">Size</option>
			<option value="forks">Forks</option>
			<option value="stars">Stars</option>
			<option value="followers">Followers</option>
		</select>
	</div>
	<div class="col-lg-3">
		<select name="operator" class="form-control">
			<option selected disabled value="">Operator...</option>
			<option value="less"><</option>
			<option value="larger">></option>
			<option value="equal">=</option>
		</select>
	</div>
	<div class="col-lg-3">
		<input type="text" class="form-control" placeholder="Value..." name="value">
	</div>
	<div class="col-lg-3 d-flex justify-content-end">
		<button class="btn btn-danger" name="delete">Delete</button>
	</div>
</div>